@import "fonts";
@import "libs";
@import "base";
@import "vars";

// Пользовательские стили

// body {
// 	// background-color: $background;
// }

	  

header.header {
	.container {
		display: flex;
		justify-content: space-between;
		margin: 20px 48px;
	}
	nav.menu ul {
		display: flex;
		list-style-type: none;
		padding: 0;
	}
	.menu__item {
		padding: 0 13px;
	}

    .menu__link {
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 14px;
	}
}

.logo {
	color: #fff;
	display: flex;
	flex-basis: 30%;
	.logo__img {
		margin: auto 0;
    	padding: 0px;
    	margin-right: 32px;
    	color: #fff;
	}
	.logo__title {
		margin: auto 0;
	}

}

.btn-header {
	
	.btn-header__button {
		background-color: #fff0;
		border-radius: 25px;
		font-size: 14px;
		font-weight: bold;
		padding: 20px 38px;
		border: 1px solid #fff;
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
	}
}


.back-img-svg {
	position: absolute;
    top: 67%;
    left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -2;
}

.base {
	background: linear-gradient( 90deg, rgb(55,62,180) 0%, rgb(47,50,144) 100%);
	// background: -webkit-linear-gradient( 90deg, rgb(55,62,180) 0%, rgb(47,50,144) 100%);
	// background: -ms-linear-gradient( 90deg, rgb(55,62,180) 0%, rgb(47,50,144) 100%);
    left: 0;
    width: 100%;
    height: 100%;
    
  }

  .Ellipse_6 {
	border-width: 66px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	opacity: 0.03;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	width: 1128px;
	height: 1128px;
	z-index: -3;
  }

  .Ellipse_6_2 {
	border-width: 66px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	opacity: 0.03;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	width: 838px;
	height: 838px;
	z-index: -2;
}

.Ellipse_6_3 {
	border-width: 66px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	opacity: 0.07;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	width: 560px;
	height: 560px;
	z-index: -1;
  }
  
  
.webkit {
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	// top: 50%;
	transform: translateY(50%);
	&__description {
		opacity: 0.5;
	}
	&__title-section {
		margin: auto 25%;
		h1 {
			margin: 0;
			white-space:normal;
			font-size: 76px;
			font-weight: semibold;
		}
	}
	&__text {
		margin: auto 17%;
	}
	&__ellipse {
		.Ellipse_7 {
			border-radius: 50%;
			background-color: rgb(255, 255, 255);
			width: 10px;
			height: 11px;
			position: absolute;
		  }
		  
	}
}
  



@import "media";// Всегда в конце


.main-batton {
	&__btn {
		font-size: 24px;
		font-weight: bold;
		border: solid 1px $buttonColor;
		border-radius: 40px;
		background-color: $buttonColor;
		color: #fff;
		padding: 21px 24px;
		cursor: pointer;
	}
}